table.table.table-hover
	thead
		tr
			th ID
			th First Name
			th Last Name
			th Email
	tbody
		- for (var i = 0; i < users.length; i++)
			tr
				td= users[i].id
				td= users[i].first
				td= users[i].last
				td= users[i].email
